* {
    margin: 0;
    font-family: "Arsenal", sans-serif;
}

/* ----------HEADER---------- */
nav {
    height: 80px;
    background-color: #112244;   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    color: white;
/* ---------------------------------------------------------- */
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
/* ---------------------------------------------------------- */
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

#atual {
    color: coral;
}

nav li:hover {
    border-bottom: 3px solid coral;
}

/* --------------BODY------------------------- */
.apresentação{
    background-color: white;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}

.foto{
    width: 35%;
}

.foto img{
    width: 100%;
}

.informações{
    margin-left: 3%;
}

.perfil h1{
    color: #112244;
    padding-bottom: 1.5%;
}

.perfil p{
    font-size: 18px;
    padding-bottom: 1.5%;
    color: #112244;
}

.perfil h3{
    color: coral;
    padding-bottom: 1.5%;
}

.botões{
    display: flex;
    padding-bottom: 1.5%;
    gap: 18px;
}

.botão{
    background-color: #112244;
    padding: 16px;
    border-radius: 8px;
}

.botão:hover{
    background-color: coral;
    scale: 1.1;
}

.botão a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.dados_gerais h2{
    color: coral;
}

.dados_gerais ul{
    font-size: 18px;
    color: #112244;
}

#trajetoria{
    background-color: #112244;
}

.feitos_comunidade{
    background-color: white;
}

#contato{
    background-color: #112244;
}


/* --------------FOOTER------------------------- */
footer {
    text-align: center;
}

footer div {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

footer img {
    width: 40px;
}

footer p {
    padding-bottom: 20px;
}

.linha-footer {
    height: 10px;
    width: 100%;
    background-color: coral;
    margin-bottom: 20px;
}