* {
    margin: 0;
    font-family: "Arsenal", sans-serif;
}

/* ----------HEADER---------- */
nav {
    height: 80px;
    background-color: #112244;   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    color: white;
/* ---------------------------------------------------------- */
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
/* ---------------------------------------------------------- */
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

#atual {
    color: coral;
}

nav li:hover {
    border-bottom: 3px solid coral;
}

/* MAIN */
.home{
    position: relative;
}

.home img{
    width: 100%;
    height: 400px;
}

.titulohome{
    position: absolute;
    top: 10%;
    left: 10%;
}

.titulohome h2{
    font-size: 64px;
    color: #112244;
    text-shadow: #000000 5px 5px 15px;
}

/* SECTION CANDIDATO */
.candidato {
    display: flex;
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    gap: 3%;
}

.foto_candidato{
    width: 30%;
}

.foto_candidato img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.dados_candidato {
    width: 70%;
}

.dados_candidato h3{
    color: coral;
}

.dados_candidato h1{
    color: #112244;
    padding-bottom: 1%;
}

.dados_candidato p{
    color: #112244;
    font-size: 18px;
}

/* SECTION TRAJETÓRIA */
.trajetoria{
    display: flex;
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    gap: 3%;
}

.trabalho{
    width: 60%;
}

.trabalho h3{
    color: coral;
}

.trabalho h1{
    color: #112244;
    padding-bottom: 1%;
}

.trabalho p{
    color: #112244;
    font-size: 18px;
}

.accordeons{
    width: 40%;
}

.accordeons details{
    width: 100%;
    background-color: coral;
    margin-bottom: 16px;
    border-radius: 8px;
}

.accordeons summary{
    color: #112244;
    font-weight: bold;
    padding: 18px;
    cursor: pointer;
}

.accordeons details p{
    padding: 12px;
    background-color: #ffffff;
    color: #112244;
    border: 1px solid coral;
    border-radius: 0 0 8px 8px;
}


/* SECTION VALORES */
.valores{
    background-color: #112244;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    padding-top: 3%;
}

.valores h3{
    color: coral;
}

.valores h1{
    color: #ffffff;
    padding-bottom: 1%;

}

.conteudo p{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 3%;
}

/* CARDS */
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.card{
    flex: 1 1 calc(32% - 3%);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 3%;
}

.card p{
    color: #112244;
    padding-bottom: 1%;
}

.card h3{
    color: #112244;
    padding-bottom: 1%;
}

.card img{
    width: 40px;
}


/*----------FOOTER---------- */

footer {
    text-align: center;
}

footer div {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

footer img {
    width: 40px;
}

footer p {
    padding-bottom: 20px;
}

.linha-footer {
    height: 10px;
    width: 100%;
    background-color: coral;
    margin-bottom: 20px;
}
