* {
    margin: 0;
    font-family: "Arsenal", sans-serif;
}

/* ----------HEADER---------- */
nav {
    height: 80px;
    background-color: #112244;   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    color: white;
/* ---------------------------------------------------------- */
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
/* ---------------------------------------------------------- */
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

#atual {
    color: coral;
}

nav li:hover {
    border-bottom: 3px solid coral;
}

footer {
    text-align: center;
}

footer div {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

footer img {
    width: 40px;
}

footer p {
    padding-bottom: 20px;
}

.linha-footer {
    height: 10px;
    width: 100%;
    background-color: coral;
    margin-bottom: 20px;
}
