* {
    margin: 0;
    font-family: "Arsenal", sans-serif;
}

/* ----------HEADER---------- */
nav {
    height: 80px;
    background-color: #112244;   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    color: white;
/* ---------------------------------------------------------- */
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
/* ---------------------------------------------------------- */
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

#atual {
    color: coral;
}

nav li:hover {
    border-bottom: 3px solid coral;
}
/* --------------------------------------- */

.fila1 {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.fila1 figure img{
    width: 100%;
    border-radius: 32px;
}

.fila1 figure figcaption{
    text-align: center;
    margin-bottom: 2%;
}

.fila1 h2{
    color: coral;
    margin-bottom: 1%;
}

.fila1 p{
    font-size: 16px;
}

.button{
    width: 100%;
    background-color: #112244;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.button a{
    text-decoration: none;
    color: white;
}

.button p{
    font-size: 18px;
    text-align: center;
}

/* --------------------------------------- */
footer {
    text-align: center;
}

footer div {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

footer img {
    width: 40px;
}

footer p {
    padding-bottom: 20px;
}

.linha-footer {
    height: 10px;
    width: 100%;
    background-color: coral;
    margin-bottom: 20px;
}